#template {
  margin: 50px 0;
}

.btn-primary {
  margin: auto;

  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #23ccb8 !important;
  border-color: #eeeeee;
  border-radius: 20px;

  width: 80%;
  min-height: 100%;
  transition: width 1s !important;
}

.btn-primary:hover {
  width: 90%;
}
